RewriteEngine on
#redirect /api calls
RewriteCond %{REQUEST_URI} ^/api
RewriteRule ^/api$ /api/index.php [QSA,L]

#redirect al other calls
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /index.html [L]
